@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Raleway:wght@200;300;400&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', 'Playfair Display' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(24, 20, 44)
}

code {
  font-family: source-code-pro, 'Playfair Display', monospace;
}
